@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link href="/css/StyleIndex.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="theGap">

    </div>
    <div class="cards">
        @{
            foreach (var day in Model.Days)
            {
                <div class="card">
                    <div class="DayOfWeek">
                        <p><h7>@day.DayOfTheWeek</h7></p>
                    </div>
                    <div class="lessons">
                        @{
                            foreach (var lesson in day.Lessons)
                            {
                                <p>
                                    <label class="timeLessons">@lesson.HoursAndMinutes.Hour : @lesson.HoursAndMinutes.Minute</label>
                                    <label class="nameLessons">@lesson.Name</label>
                                    <label class="placeLessons">@lesson.Place</label>
                                </p>
                            }
                        }
                    </div>
                    <div>
                        <button type="button" class="PostLesson" id="@day.Id" >Добавить</button>
                        <button class="putLesson" >Изменить</button>
                    </div>
                </div>
                
            }
        }


    </div>
    <div>
        <dialog id="addLesson">
            <form method="post">
                <div>
                    <input type="text" id="dayId" name="DayId" />
                </div>
                <div>
                    <p>
                        <label for="timeNewLesson">Время пары в формате(hours:minute)</label>
                        <input type="text" id="timeNewLesson" name="TimeNewLesson"/>
                    </p>
                </div>
                <div>
                    <p>
                        <label for="nameNewLesson">Название пары</label>
                        <input type="text" id="nameNewLesson" name="NameNewLesson" />
                    </p>
                </div>
                <div>
                    <p>
                        <label for="placeNewLesson">Место проведения пары</label>
                        <input type="text" id="placeNewLesson" name="PlaceNewLesson" />
                    </p>
                </div>
                <div>
                    <input type="submit" value="сохранить"/>
                </div>
            </form>
            <button onclick="window.addLesson.close();">выйти</button>
        </dialog>
    </div>
    <div>
        <dialog id="myDialog">
            Я скрыт от пользователя
        </dialog>
    </div>
</body>
<script>
    var button = document.querySelector('.PostLesson');
    button.addEventListener('click', function () {
        var id = button.dataset.id;
        var input = document.getElementById('dayId');
        input.value = id;
        window.addLesson.showModal();
    });
</script>