@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link href="/css/StyleIndex.css" rel="stylesheet" type="text/css">
    <style>
        #errorMessagePostLesson 
        {
            text-align: center;
            font-size: 13px;
            color: red;
        }

        #addDayBtn{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
    </style>
</head>
<body>
    <div class="theGap">
    </div>
    <div class="cards">
        @{
            foreach (var day in Model.Days)
            {
                <div class="card">
                    <div class="DayOfWeek">
                        <p><h7>@day.DayOfTheWeek</h7></p>
                        <p>@day.Time.Month-@day.Time.Day</p>
                    </div>
                    <div class="lessons">
                        @{
                            foreach (var lesson in day.Lessons)
                            {
                                <p>
                                    <label class="timeLessons">@lesson.HoursAndMinutes.Hour : @lesson.HoursAndMinutes.Minute</label>
                                    <label class="nameLessons">@lesson.Name</label>
                                    <label class="placeLessons">@lesson.Place</label>
                                </p>
                            }
                        }
                    </div>
                    <div id="BtnsLesson">
                        <button class="btn btn-dark" type="button" id="@day.Id" onClick="AddLesson_click(this.id)">Добавить</button>
                        <form method="post" asp-page-handler="GetDay">
                            <input type="hidden" id="dayIdPutLessons" name="DayId" value="@day.Id" />
                            <button class="btn btn-warning" id="@day.Id">Изменить</button>
                        </form>
                    </div>
                </div>
                
            }
        }
    </div>

    <div>
        <p id="errorMessagePostLesson" >@Model.ErrorMessagePostLesson</p>
    </div>
    <div id="addDayBtn">
        <button class="btn btn-dark" onClick="window.location.href = 'AddDay'">Добавить следующий день</button>
    </div>

    <div>
        <dialog id="addLesson">
            <form method="post" asp-page-handler="AddLesson">
                <div>
                    <input type="hidden" id="dayIdAddLesson" name="DayId" />
                </div>
                <div>
                    <p>
                        <label for="timeNewLesson">Время пары в формате(hours:minute)</label>
                        <input type="text" id="timeNewLesson" name="TimeNewLesson"/>
                    </p>
                </div>
                <div>
                    <p>
                        <label for="nameNewLesson">Название пары</label>
                        <input type="text" id="nameNewLesson" name="NameNewLesson" />
                    </p>
                </div>
                <div>
                    <p>
                        <label for="placeNewLesson">Место проведения пары</label>
                        <input type="text" id="placeNewLesson" name="PlaceNewLesson" />
                    </p>
                </div>
                <div>
                    <input class="btn btn-dark" type="submit" value="сохранить"/>
                </div>
            </form>
            <button class="btn btn-check" onclick="window.addLesson.close();">выйти</button>
        </dialog>
    </div>

    <div>
        <dialog id="putLessons">
            <form method="post" asp-page-handler="PutLessons">
                <div>
                    <input type="hidden" id="dayIdPutLessons" name="DayId" />
                </div>
                <table>
                    <tr>
                        <td>Название</td>
                        <td>Время</td>
                        <td>Место</td>
                        <td>Удалить</td>
                    </tr>
                    @{
                        foreach (var lesson in IndexModel.PutDay.Lessons)
                        {
                            <tr>
                                <td><input type="text" name="NameLessons" value="@lesson.Name" /></td>
                                <td><input type="text" name="Times" value="@lesson.HoursAndMinutes.Hour : @lesson.HoursAndMinutes.Minute" /></td>
                                <td><input type="text" name="Places" value="@lesson.Place" /></td>
                                <td><input type="checkbox" name="IsRemove" value="@lesson.Id" /></td>
                            </tr>
                        }
                    }
                </table>
                <input class="btn btn-warning" type="submit" value="Сохранить" />
                <input class="btn btn-check" type="button" value="выйти" onclick="window.putLessons.close();" />
            </form>
        </dialog>
    </div>
</body>

@{
    if(IndexModel.PutDay.Lessons.Count > 0)
    {
        <script>
            window.putLessons.showModal();
        </script>
    }
}
<script>
    function AddLesson_click(clicked_id) 
    {
        var input = document.getElementById('dayIdAddLesson');
        input.value = clicked_id;
        window.addLesson.showModal();
    }
    
</script>